/Common/WifiCredentials.h
/Test
/Html/images/green.png
/Html/images/sleeping-png-4-transparent.png
/Html/test.html
/Html/smarthome/src/assets/Backup
Html/smarthome/src/assets/image resources.txt
/Html/home_controller.html
/Include/WifiCredentials.h
/DoorSensorESP32/lib/README
/DoorSensorESP32/include/README
/DoorSensorESP32/test/README
/DoorSensorESP32/.vscode/extensions.json
/DoorSensorESP32/.gitignore
/DoorSensorESP32/.vscode/settings.json
